/*********************/

/*  事例  */

/*********************/

.archive-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include min_desktop {
    gap: 6rem 2.7rem;
  }
}

.pickup-card {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(#051C2E,.12);
  border-radius: 20px;
  padding: 4rem 2.4rem;
  transition: .2s ease-out;
  @include min_tablet {
    width: calc(100% / 2 - 15px);
  }
  @include min_desktop {
    width: calc(100% / 3 - 18px);
    padding: 4.5rem 3.5rem;
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &__thumbnail {
    width: 100%;
    aspect-ratio: 120 / 83;
    border-radius: 10px;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__box {
    margin-top: 1.2rem;
    @include min_desktop {
      margin-top: 2rem;
    }
  }
  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: .04em;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;


    @include min_desktop {
      font-size: 2rem;
      letter-spacing: .08em;
    }

    &--news {
      margin-top: 0.5rem;
    }
  }
  &__time {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    color: #8A8D93;
    margin-top: 1.2rem;

    @include min_tablet {
      font-size: 1.6rem;
      margin-top: 2.5rem;
    }
  }
  &__name {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: #8A8D93;
    margin-top: 3rem;

    @include min_tablet {
      font-size: 1.6rem;
    }
  }
  &__ctg-wrap {
    display: flex;
    gap: 8px;
    margin-top: 1rem;

    @include min_desktop {
      gap: 12px;
    }
  }
  &__category {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    border: 1px solid #D7D9DD;
    border-radius: 5px;
    padding: 3px 5px;
    transition: .2s ease-out;

    @include min_tablet {
      font-size: 1.2rem;
    }
    @include min_desktop {
      padding: 4px 12px;
    }
  }
  &:hover {
    box-shadow: 0 0 20px rgba(#051C2E,.3);
  }

}

.example-head {
  display: grid;

  border-bottom: 1px solid #D7D9DD;
  padding-bottom: 4rem;
  margin-bottom: 3rem;

  @include min_desktop {
    gap: 0 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding-bottom: 6rem;
    margin-bottom: 6rem;
  }

  &__ctg-wrap {
    @include min_desktop {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
  &__ctg {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    border: 1px solid #D7D9DD;
    border-radius: 5px;
    padding: 3px 5px;

    @include max_tablet {
      order: 1;
    }

    @include min_tablet {
      font-size: 1.2rem;
    }
    @include min_desktop {
      padding: 4px 12px;
    }
  }

  &__title {
    font-size: 2.1rem;
    line-height: 1.5;
    margin-top: 2rem;

    @include max_tablet {
      order: 2;
    }

    @include min_tablet {
      font-size: 3.2rem;
    }
    @include min_desktop {
      grid-area: 2 / 1 / 3 / 2;
    }
  }

  &__box {
    box-shadow: 0 0 15px rgba(#051C2E,.12);
    border-radius: 40px;
    margin-top: 3rem;
    padding: 2.4rem;
    @include max_tablet {
      order: 4;
    }
    @include min_desktop {
      grid-area: 3 / 1 / 4 / 2;
      margin-top: 4rem;
      padding: 3rem 4.5rem;
    }
  }

  &__img {
    @include max_tablet {
      order: 3;
      margin-top: 2rem;
    }
    @include min_desktop {
      grid-area: 1 / 2 / 4 / 3;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 40px;

      @include min_desktop {
        aspect-ratio: 720 / 406;
      }
    }
  }
}

.dl {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px 0;
  margin-top: 2rem;

  @include min_desktop {
    margin-top: 4rem;
  }

  dt,
  dd {
    font-size: 1.2rem;

    @include min_tablet {
      font-size: 1.4rem;
    }
  }

  dt {
    font-weight: bold;
  }
  dd {
    font-weight: 500;
  }

  &--head {
    grid-template-columns: 140px 1fr;
    margin-top: 0;

    @include min_tablet {
      grid-template-columns: 180px 1fr;
    }

    dt {
      color: var(--color-primary);
    }
  }
}

.search-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2.1rem;

  @include min_tablet {
    font-size: 3.2rem;
  }

  &::before {
    content: "";
    display: inline-block;
    background: url(../images/search.svg)center /contain no-repeat;
    width: 36px;
    height: 36px;
  }
}

.refine {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 2rem 0 0;

  @include min_desktop {
    gap: 12px;
    margin: 4.2rem 0 0
  }
  &__btn {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-font);
    border: 1px solid #D7D9DD;
    border-radius: 5px;
    padding: 3px 5px;
    transition: .2s ease-out;

    @include min_tablet {
      font-size: 1.4rem;
    }
    @include min_desktop {
      padding: 4px 12px;
    }

    &:hover {
      background: var(--color-primary);
      color: var(--color-white);
    }
  }
}

.agenda-title {
  font-size: 2.1rem;
  color: var(--color-primary);

  @include min_tablet {
    font-size: 3.2rem;
  }

  &::before {
    content: "";
    display: inline-block;
    background: url(../images/label.svg)center /contain no-repeat;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 1rem;

  }
}