/*********************/

/*  フッター  */

/*********************/

.footer {
  padding-block: 10rem 6rem;
  margin-top: auto; //コンテンツが少ない時、フッター最下部固定
  @include only_mobile {
    padding-block: 6rem;
  }

  &__logo,
  &__address {
    display: block;
  }

  &__logo {
    width: 263px;
    @include only_mobile {
      width: 210px;
    }
    @include min_desktop {
      transition: .2s ease-out;
      &:hover{
        opacity: .6;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__menu {
    @include min_tablet {
      display: flex;
      gap: 3rem;
    }
    @media screen and (min-width:1440px) {
      gap: 9rem;
    }
  }

  &__signature {
    display: flex;
    justify-content: center;
    @include only_mobile {
      flex-direction: column;
      padding: 30px 0 10px;
    }
    @include min_tablet {
      gap: 10rem;
      justify-content: flex-start;
      padding: 40px 0;
    }
    @include min_desktop {
      gap: 4rem;
      justify-content: space-between;
    }
  }

  &__other {
    display: flex;

    @include only_mobile {
      gap: 3rem;
      flex-direction: column-reverse;
      margin-top: 4rem;
    }

    @include min_tablet {
      align-items: center;
      justify-content: space-between;
    }
  }

  &__copyright {
    font-size: 1.2rem;
    color: var(--color-font);
  }
}

.sns-list {
  list-style: none;
  margin-top: 4rem;

  @include min_desktop {
    margin-top: 6rem;
  }

  &__link {
    @include min_desktop {
      transition: .2s ease-out;
      &:hover{
        opacity: .6;
      }
    }
    &--youtube {
      &::before {
        content: "\e900";
        font-family: "icomoon";
        font-size: 2rem;
        color: var(--color-font);
      }
    }
  }
}

.fnav-list {
  @include max_tablet {
    display: none;
  }
  
  @include min_desktop {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__title {
    font-size: var(--font-text-base-sm);
    color: #8A8D93;
  }

  &__item {
    flex: 0 0 50%;
    list-style: none;
    white-space: nowrap;
    color: var(--color-font);

    @include min_tablet {
      flex: 1 0 auto;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    font-size: var(--font-text-sm);
    font-weight: bold;
    color: inherit;
    padding: 5px;
    transition: .2s ease-out;

    @include only_mobile {
      text-align: center;
      padding: 15px;
    }
    &:hover {
      opacity: .6;
    }
  }
}

.fchild-list {
  list-style: none;
  line-height: 1.8;
  display: grid;
  gap: 2rem;
  margin-top: 3rem;

  @include only_mobile {
    display: none;
  }

  &__item {
    display: flex;
    gap: 12px;
    align-items: center;
    transition: .2s ease-out;

    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 30px;
      background: #D7D9DD;
    }

    &:hover {
      opacity: .6;
    }
  }

  &__link {
    font-size: var(--font-text-sm);
    font-weight: bold;
    color: inherit;
  }
}

.org {
  display: block;
  list-style: none;
  font-weight: 500;
  font-size: var(--font-text-sm);
  color: var(--color-font);
  line-height: 1.7;

  &__name {
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__addr,
  &__phone,
  &__fax {
    font-size: 1.5rem;
  }

  &__phone,
  &__fax {
    display: inline-block;

    @include only_mobile {
      display: block;
    }
  }

  &__addr {
    margin-top: 2rem;
  }

  &__phone {
    margin-top: 2rem;

    @include min_tablet {
      margin-right: 1.5rem;
    }

    &::before {
      content: "\e908";
      font-family: "icomoon";
      color: var(--color-primary);
    }

    a {
      text-decoration: none;
      color: var(--color-font);
    }
  }
}

.org-addr {
  &__item {
    display: block;
  }
}

.footer-list {
  list-style: none;
  display: flex;
  @include only_mobile {
    width: 100%;
  }

  li + li {
    border-left: 1px solid #D7D9DD;
    margin-left: 2.5rem;
    padding-left: 2.5rem;

    @include min_desktop {
      margin-left: 4rem;
      padding-left: 4rem;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    font-size: var(--font-text-sm);
    color: #8A8D93;
    transition: .2s ease-out;

    &:hover {
      opacity: .6;
    }
  }
}