/*********************/

/*  TOP  */

/*********************/

.home{
  overflow: hidden;
}

/*********************/

.btn-wrap{
  display: flex;
  gap: 2rem;
  @include only_mobile {
    flex-direction: column;
  }
  &--wrap{
    flex-wrap: wrap;
  }
  &--spcolumn{
    @include only_mobile {
      flex-direction: column;
    }
  }
  &--center{
    justify-content: center;
  }
  &--right{
    justify-content: flex-end;
  }
  &--mt {
    margin-top: 6rem;
    @include only_mobile {
      margin-top: 3rem;
    }
  }
}

@keyframes bg-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50% 0;
  }
}

.btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: bold;
  background: $grad01;
  padding: 1.8rem 7.5rem 1.6rem;
  border-radius: 50px;
  letter-spacing: 0.06em;
  box-shadow: 0 0 10px rgba(#051C2E,.12);
  transition: .2s ease-out;
  &::after {
    font-family: "icomoon";
    font-weight: normal;
    content: "\e905";
    color: inherit;
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    transition: .2s ease-out;
  }
  @include min_desktop {
    &:hover {
      animation: bg-gradient .2s ease-out forwards;
      &::after {
        transform: translate(5px,-50%);
      }
    }
  }
  &--window {
    &::after{
      content: "\e90a";
    }
    @include min_desktop {
      &:hover {
        &::after {
          transform: translate(0,-50%);
        }
      }
    }
  }
  &--wt {
    background: var(--color-white);
    color: var(--color-font);
    &::after{
      color: var(--color-primary);
    }
  }
  &--red {
    background: $grad02;
  }
  &--down {
    border-radius: 20px;
    font-size: 2rem;
    padding: 2.3rem 7.5rem 2.1rem;
    @include only_mobile {
      padding: 1.9rem 7.5rem;
    }
    &::after{
      transform: translateY(-50%)rotate(90deg);
      font-size: 1.8rem;
      right: 3rem;
    }
    @include min_desktop {
      &:hover {
        &::after {
          transform: translate(0,-40%)rotate(90deg);
        }
      }
    }
  }
  &--large {
    max-width: 1100px;
    width: 100%;
    border-radius: 130px;
    font-size: 2.4rem;
    padding: 4.3rem 7.5rem 4.1rem;
    text-align: center;
    &::after{
      right: 6rem;
      font-size: 2.1rem;
    }
    @include only_mobile {
      font-size: 1.5rem;
      border-radius: 65px;
      padding: 2.8rem 3rem 2.5rem;
      &::after{
        right: 2rem;
        font-size: 1.3rem;
      }
    }
  }

  &--sp100 {
    @include only_mobile {
      width: 100%;
    }
  }
  &--100 {
    width: 100%;
  }
  &--left-icon {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  &--center {
    justify-content: center;
  }
  &--center-icon-r {
    justify-content: center;
    position: relative;
    padding-right: 6rem;
    &::after{
      position: absolute;
      top: 50%;
      right: 3rem;
      transform: translateY(-50%);
    }
  }

  &--center-icon-l {
    justify-content: center;
    position: relative;
    padding-left: 6rem;
    &::after{
      position: absolute;
      top: 50%;
      left: 3rem;
      transform: translateY(-50%);
    }
  }
}


.dounyu{
  font-weight: bold;
  text-align: center;
  &__title{
    display: inline-block;
    font-size: 4.4rem;
    margin-right: 6rem;
    letter-spacing: 0.06em;
    @include only_mobile {
      display: block;
      margin: 0;
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 1.6rem;
    }
  }
  &__txtimg {
    display: inline-block!important;
    width: 653px;
    height: auto;
  }
  &__desc{
    display: block;
    font-size: var(--font-text-base-sm);
    margin-top: 3.5rem;
    letter-spacing: 0.1em;
  }
}

.underline-txt{
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary);
  position: relative;
  padding: 0 2rem 2.8rem;
  line-height: 2;
  margin-bottom: 4rem;
  @include only_mobile {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  &::before{
    position: absolute;
    bottom: 43px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--color-primary);
    @include only_mobile {
      bottom: 40px;
    }
  }
  &::after{
    content: "";
    display: block;
    width: 45px;
    height: 1px;
    background: var(--color-primary);
    transform-origin: center center;
    transform: rotate(-40deg);
    margin: 15px auto 0;
    @include only_mobile {
      width: 35px;
      margin: 20px auto 0;
    }
  }
}

.dot-box{
  position: relative;
  padding: 10rem;
  @include only_mobile {
    padding: $padding_std $padding_std 5rem;
  }

  &__row{
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1.9fr;
    gap: unquote("min(5vw,12rem)");
    &-item{
      position: relative;
    }
    @include only_mobile {
      display: block;
    }
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: url(../images/repeat-dot.png)0 0/21px 21px repeat;
    opacity: .4;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $grad01;
    border-radius: 60px;
    opacity: .2;
    z-index: -1;
  }
}

.ad-img{
  display: block;
  width: 100%;
  height: auto;
  margin-top: -20rem;
  max-width: 419px;
  margin-left: auto;
  margin-right: auto;
  @include only_mobile {
    margin-top: -10rem;
    max-width: 270px;
  }
}

.lineup{
  $this: &;
  position: relative;
  display: block;
  border-radius: 60px;
  background: url(../images/lineup01.png)20% 50%/cover no-repeat;
  padding: 9rem 7rem;
  box-shadow: 0 0 10px rgba(#051C2E,.12);
  overflow: hidden;
  @include max_tablet {
    padding: 5rem;
    background-position: 32% 50%;
  }
  @include only_mobile {
    background: url(../images/lineup01_sp.png)50% 0/contain no-repeat;
    border-radius: 30px;
    padding: 0;
    padding-top: 67.25%;
  }
  &--02{
    margin-top: 7rem;
    background: url(../images/lineup02.png)50% 50%/cover no-repeat;
    @include max_tablet {
      background-position: 40% 50%;
    }
    @include only_mobile {
      margin-top: 3.9rem;
      background: url(../images/lineup02_sp.png)50% 0/contain no-repeat;
    }
    #{$this}__btn {
      background: $grad01;
    }
    #{$this}__tag {
      color: var(--color-primary);
    }
  }
  &::before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    @include min_tablet {
      background: linear-gradient(to right,rgba(#fff,1) 0,rgba(#fff,1) 20%,rgba(#fff,0) 65%);
    }
  }
  &__inner{
    position: relative;
    z-index: 2;
    @include max_tablet {
      width: calc(16rem + 39%);
    }
    @include only_mobile {
      padding: 1.8rem 2.4rem 4.2rem;
      width: 100%;
    }
  }
  &__tagwrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    @include only_mobile {
      gap: .5rem;
    }
  }
  &__tag{
    display: inline-block;
    font-size: var(--font-text-xs);
    color: var(--color-red);
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #D7D9DD;
    background: #fff;
    padding: .9rem 1.6rem .7rem;
    @include only_mobile {
      padding: .7rem 1.4rem .5rem;
    }
  }
  &__title{
    display: block;
    font-size: var(--font-heading-xl-sm);
    font-weight: bold;
    margin-top: 2rem;
    letter-spacing: 0.06em;
    @include only_mobile {
      margin-top: 1rem;
      font-size: 3rem;
    }
  }
  &__desc{
    display: block;
    font-size: var(--font-text-sm);
    margin-top: 2.6rem;
    letter-spacing: 0.06em;
    font-weight: 500;
    line-height: 1.9;
    @include only_mobile {
      margin-top: 1.6rem;
    }
    @include min_desktop {
      max-width: 570px;
    }
  }
  &__btn{
    @extend .btn;
    margin-top: 7.3rem!important;
    background: $grad02;
    @include only_mobile {
      display: block;
      width: fit-content;
      margin-top: 3rem!important;
      margin-left: auto;
      margin-right: auto;
    }
  }
  p:empty{
    display: none;
  }
}

.redtxt {
  color: var(--color-red);
}

.bluetxt {
  color: var(--color-primary);
}

.logo-list {
  $this: &;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.6rem;
  @include only_mobile {
    grid-template-columns: repeat(2,1fr);
    gap: .8rem;
  }
  &__item{
    display: block;
  }
  &--min {
    grid-template-columns: repeat(3,1fr);
    @include only_mobile {
      grid-template-columns: repeat(2,1fr);
    }
    #{$this}__item {
      border: 1px solid #D7D9DD;
    }
  }
}