.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  z-index: 10;
  transition: .3s cubic-bezier(.4,.4,0,1);

  &--open {
    overflow: auto;
    visibility: visible;
    opacity: 1;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 860px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: var(--color-white);
  pointer-events: none;
  z-index: 99;
  transition: .3s cubic-bezier(.4,.4,0,1);
  transform: translateX(100%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
  }

  &::before {
    top: 20vh;
    width: 220px;
    height: 220px;
    background: url(../images/circle.png) 0 0/contain no-repeat;

    @include max_tablet {
      right: -110px;
    }
    
    @include min_desktop {
      left: -110px;
    }
  }
  &::after {
    right: -110px;
    bottom: -50px;
    width: 42rem;
    height: 45rem;
    background: url(../images/circle02.png) 0 0 / contain no-repeat;
    transform: scale(-1,1) translateY(40%);

    @include min_desktop {
      right: -110px;
      bottom: -110px;
      transform: scale(-1,1);
    }
  }

  &__inner {
    -webkit-overflow-scrolling: touch;
    height: 100dvh;
    overflow-y: auto;
    padding: 12.4rem 2.4rem;
    z-index: 50;

    @include min_desktop {
      padding: 16rem 14rem 6rem;
    }
  }
  &__item {
    & + & {
      border-top: 1px solid #d7d9dd;
      padding: 3rem 0 0;
      margin: 3rem 0 0;

      @include min_desktop {
        padding: 3.6rem 0 0;
        margin: 3.6rem 0 0;
      }
    }
  }
  &__logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 160px;
    z-index: 1;

    @include min_desktop {
      width: 230px;
      top: 30px;
      left: 25px;
      transition: .2s ease-out;
      &:hover{
        opacity: .6;
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__title {
    font-size: var(--font-heading-md-sm);
    color: #8a8d93;
    letter-spacing: .06em;
    margin-bottom: 3rem;
  }
  &--open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
}

.menu-list {
  $this: &;
  display: grid;
  gap: 25px;
  @include min_desktop {
    gap: 19px;
    grid-template-columns: repeat(3,1fr);
  }

  &__item {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: var(--font-text-sm);
    font-weight: bold;

    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 30px;
      background: #D7D9DD;
    }
  }

  &__link {
    position: relative;
    display: block;
    color: inherit;
    @include min_desktop {
      transition: .2s ease-out;
      &:hover{
        opacity: .6;
      }
    }
    &--window {
      @extend .window;
      @extend .window--blue;
    }
  }

  &__child {
    margin: 2rem 0 0;

    @include min_desktop {
      margin: 3rem 0 0;
    }
  }

  &--two {
    @include min_desktop {
      grid-template-columns: repeat(2,auto);
    }
  }
}

.child-list {
  display: grid;

  @include min_desktop {
    grid-template-columns: repeat(3,auto);
    justify-content: space-between;
  }

  &__item {
    font-size: var(--font-text-sm);
    font-weight: bold;
    color: var(--color-font);
  }
  &__link {
    color: inherit;
  }
}

.menu-cv {
  position: relative;
  box-shadow: 0 0 10px rgba(#051C2E,.12);
  background: var(--color-white);
  border-radius: 30px;
  padding: 30px 24px 20px;
  margin: 3rem 0 0;

  @include min_desktop {
    padding: 33px 100px;
    margin: 4rem 0 0;
    transition: .2s ease-out;
    &:hover {
      box-shadow: 0 0 20px rgba(#051C2E,.3);
      &::after{
        transform: translate(5px,-50%);
      }
    }
  }
  & + & {
    margin-top: 2rem;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__title {
    font-size: var(--font-heading-md);

    @include only_mobile {
      text-align: center;
    }
  }
  &__text {
    font-size: 1.5rem;
    margin-top: 2rem;

    @include only_mobile {
      font-size: 1.4rem;
      margin-top: 1.6rem;
    }
  }

  &::before,
  &::after {
    @include min_desktop {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &::before {
    content: "";
    font-family: "icomoon";
    display: block;
    text-align: center;
    font-size: 5rem;

    @include min_desktop {
      left: 27px;
    }
  }

  &::after {
    content: "\e905";
    font-family: "icomoon";
    display: block;
    text-align: right;
    color: #D7D9DD;
    @include only_mobile {
      font-size: 2rem;
      margin: 2rem 0 0;
    }
    @include min_desktop {
      transition: .2s ease-out;
      right: 27px;
      font-size: 2.5rem;
    }
  }

  &--file {
    &::before {
      content: "\e907";
      color: var(--color-primary);
    }
  }
  &--mail {
    &::before {
      content: "\e906";
      font-size: 4rem;
      color: #7364AE;
    }
  }
}

.menu-btn {
  $this: &;
  position: relative;
  display: flex;
  width: 125px;
  height: 43px;
  border-radius: 44px;
  background: var(--color-font);
  align-items: center;
  justify-content: flex-end;
  padding: 0 2.5rem;
  
  @include min_desktop {
    width: 190px;
    height: 56px;
    padding: 0 4.5rem;
    transition: .2s ease-out;
    &:hover{
      opacity: .7;
    }
  }

  &::after {
    content: "MENU";
    font-size: var(--font-text-base-sm);
    font-weight: bold;
    color: var(--color-white);
    letter-spacing: .11em;
    @include max_tablet {
      font-size: 1.5rem;
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    left: calc(50% - 30px);
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 5px;
    transition: .2s ease-out;
    background: var(--color-white);

    @include min_desktop {
      width: 22px;
      left: calc(50% - 35px);
    }

    &:nth-child(1) {
      transform: translateY(-8px) translateX(-50%);
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &:nth-child(3) {
      transform: translateY(6px) translateX(-50%);
    }
  }

  &[aria-expanded="true"] {
    #{$this}__line {
      &:nth-child(1) {
        transform: translateY(-50%) translateX(-50%) rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-50%) translateX(-50%) rotate(45deg);
      }
    }
  }
}
