/*********************/

/*  ニュース  */

/*********************/

/*  リストタイプ  */

.news-list {
  $this: &;
  display: block;
  width: 100%;

}

.news-card {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #D7D9DD;
  padding: 2.2rem 0 1.7rem;

  @include min_tablet {
    flex-wrap: nowrap;
  }

  &__time {
    font-weight: bold;
    color: #8A8D93;
    flex: 0 0 110px;
  }

  &__category {
    text-align: center;
    border: 1px solid var(--color-font);
    padding: 0 15px;
    flex: 0 0 120px;
  }

  &__post-title {
    position: relative;
    flex: 0 0 100%;
    overflow: hidden;
    color: inherit;
    display: -webkit-box; /* 必須 */
    -webkit-box-orient: vertical; /* 必須 */
    -webkit-line-clamp: 2; /* 行数を制限 */
    overflow: hidden; /* はみ出た部分を非表示 */
    transition: .2s ease-out;
    font-weight: 500;
    padding-right: 3rem;
    &::after{
      font-family: 'icomoon';
      font-weight: normal;
      content: '\e905';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    @include min_tablet {
      flex: 1 0 0px;
    }
  }
  &__link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}


.news-head {
  margin-bottom: 3rem;

  &__time {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-font);
    letter-spacing: .1em;
  }

  &__ctg {
    position: relative;
    display: inline-block;
    height: 34px;
    line-height: 1;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--color-font);
    text-align: center;
    white-space: nowrap;
    margin-right: 1.5rem;
    padding: 1rem 1.5rem;
  }

  .h2 {
    margin-top: 1rem;
  }
}
